//$color-primary: #5988aa;

$color-primary: #131633;
$color-primary-light: #222840;
//$color-primary-dark: #1b1d2e;

$color-red-dark:#b62533;
$color-red-light: #d1495b;

$color-blue-dark: #0962a5;
$color-blue-light: rgb(64, 119, 190);

$color-green-dark: #009e6e;
$color-green-light: #40be70;



$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;
