$color-primary: #5988aa;
$color-primary-light: #3a3b5d;
$color-primary-dark: #1b1d2e;

$color-secondary-dark:#b62533;
$color-secondary-light: #d1495b;

$color-tertiary: #1c1d2f;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;
