.u-background-color-primary-light {
  background-color: $color-primary;
}

.u-background-color-blue-dark{
  background-color: $color-blue-dark;
}

.u-background-color-blue-light{
  background-color: $color-blue-light;
}

.u-background-color-red-dark{
  background-color: $color-red-dark;
}

.u-background-color-green-dark{
  background-color: $color-green-dark;
}
