.myAnalysis{
  &__Search{
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;

    &--dropbox {
      border-color: $color-primary-light;
      color: $color-white;
      background: $color-primary-light;
      width: 90%;
      font-size: 1.5rem;
    }

    &--button{
      width: 9%;
      font-size: 1.5rem;
    }
  }
}

.PleaseSelectDate{
  height: 50vh;
}

